p {
    background-color: yellow;
    color: blue;
}

nav{
    height: 50px;
}

div#topnav{
    background-color: gray;
    color: white;
    width: 1000px;
}

div#topnav ul{
    width: 1000px;
    display: block;
}

div#topnav ul li{
    float: left;
    list-style: none;
    padding: 10px;
}

div#topnav ul li:nth-child(2){
    background-color: antiquewhite;
}

div#topnav ul li a{
    color: blue;
}